:root {
  --ff-primary-100: "Open Sans", sans-serif;
  --ff-primary-200: "Chivo Mono", monospace;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --clr-primary-100: hsl(195, 93%, 47%);
  --clr-primary-200: hsl(329, 79%, 58%);
  --clr-primary-300: hsl(66, 70%, 52%);
  --clr-primary-400: hsl(51, 100%, 50%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 10%);
  --clr-neutral-300: hsl(0, 0%, 0%);
  --clr-neutral-400: hsl(120, 80%, 55%);
  --clr-neutral-400: hsl(0, 80%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary-100);
}

main,
section,
article,
footer {
  width: min(100%, 1110px);
  margin: 0 auto;
  padding: 0 16px;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  font-size: var(--fs-600);
  margin-top: 0;
  font-weight: var(--fw-bold);
}

.rock {
  position: relative;
}

.rock::after {
  content: "rock";
}

.scissors {
  position: relative;
  margin: 0 32px;
}

.scissors::after {
  content: "scissors";
}

.paper {
  position: relative;
}

.paper::after {
  content: "paper";
}

.paper::after,
.rock::after,
.scissors::after {
  position: absolute;
  bottom: -20px;
  right: 3px;
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
}

@media (min-width: 400px) {
  header {
    font-size: var(--fs-700);
    margin-top: 0;
  }
}

@media (min-width: 520px) {
  header {
    font-size: var(--fs-800);
    margin-top: 0;
  }

  .paper::after,
  .rock::after,
  .scissors::after {
    font-size: var(--fs-600);
  }
}

@media (min-width: 1110px) {
  header {
    font-size: var(--fs-800);
  }

  .scissors {
    position: relative;
    margin: 0 48px;
  }

  .paper {
    position: relative;
  }

  .paper::after,
  .rock::after,
  .scissors::after {
    position: absolute;
    bottom: -20px;
    right: 3px;
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
  }
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.sub_heading {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}

.choice {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 16px 1fr 16px 1fr;
  width: min(100%, 650px);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  transform: scale(1.05);
}

#rock_btn {
  grid-column: 1;
  aspect-ratio: 1/1;

  background: #f0f0f0 url("images/rock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s; /* Animation */
  border-radius: 100%;
}

#scissors_btn {
  grid-column: 3;
  aspect-ratio: 1/1;

  background: #f0f0f0 url("images/scissors.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s; /* Animation */
  border-radius: 100%;
}

#paper_btn {
  grid-column: 5;
  aspect-ratio: 1/1;

  background: #f0f0f0 url("images/paper.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s; /* Animation */
  border-radius: 100%;
}

/* SECTION - RESULT */
.result {
  width: min(100%, 620px);
  margin: 32px auto 0 auto;
  justify-content: space-between;
  align-items: center;
}

.result_grid-1 {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result_grid-2 {
  grid-column: 2;
}

.result_grid-3 {
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result_container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}

.vs_container {
  padding: 0 16px;
  text-align: center;
}

.result p {
  font-size: var(--fs-700);
  font-weight: var(--fw-extra-bold);
  font-family: var(--ff-primary-200);
}

#score_user,
#score_computer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  background-color: #2cd3e1;
  font-size: var(--fs-900);
  font-weight: 700;
}

#score_user {
  border-radius: 100% 0 0 100%;
}

#score_computer {
  background-color: #f266ab;
  border-radius: 0 100% 100% 0;
}

#score_card-1,
#score_card-2 {
  background-color: white;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score_card-scissors {
  background: #f0f0f0 url("images/scissors_small.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}

.score_card-rock {
  background: #f0f0f0 url("images/rock_small.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}

.score_card-paper {
  background: #f0f0f0 url("images/paper_small.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}

.score_wrapper {
  text-align: center;
}

/* MAIN - SUMMARY */
#summary {
  font-size: var(--fs-600);
  width: min(100%, 600px);
  margin: 24px auto 0 auto;
  height: 50px;
  text-align: center;
  font-weight: var(--fw-semi-bold);
}

/* SECTION - RULES */
.rules {
  display: flex;
  justify-content: center;
  width: min(100%, 650px);
  margin: 0 auto;
}

.rules h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 32px;
  text-transform: uppercase;
}

.rules ul {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
  padding: 0;
}

.rules li {
  padding-top: 5px;
}

.rules li span {
  font-weight: var(--fw-bold);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

footer a {
  text-decoration: none;
  display: inline-block;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  margin-right: 16px;
  font-size: 1.5rem;
}

footer p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  footer p {
    font-size: 1.2rem;
  }

  footer i {
    margin-right: 16px;
    font-size: 2rem;
  }
}
