* {
  background-color: rgb(15, 15, 15);
  color: white;
  font-family: Helvetica;
}

header {
  display: flex;
  font-size: 3rem;

  justify-content: center;
  font-weight: bold;
}

.Piwakawaka {
  margin: 0 48px;
}

.Ngeru {
  position: relative;
}

.Ngeru::after {
  content: "cat";
  position: absolute;
  bottom: -18px;
  right: 1px;
  font-size: 1.5rem;
  font-weight: initial;
}

.Piwakawaka {
  position: relative;
}

.Piwakawaka::after {
  content: "fantail";
  position: absolute;
  bottom: -18px;
  right: 2px;
  font-size: 1.5rem;
  font-weight: initial;
}

.Kaumatua {
  position: relative;
}

.Kaumatua::after {
  content: "elder";
  position: absolute;
  bottom: -18px;
  right: 3px;
  font-size: 1.5rem;
  font-weight: initial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}

.choice > button {
  width: 100px;
  height: 100px;
  background-color: green;
}

.result {
  margin-top: 64px;
  display: flex;
}

#score_user,
#score_computer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: blue;
  font-size: 3rem;
}

#score_computer {
  background-color: red;
}
