* {
  background-color: #1a1a1a;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  font-size: 3rem;
  margin-top: 48px;
  justify-content: center;
  font-weight: 700;
}

.scissors {
  margin: 0 48px;
}

.rock {
  position: relative;
}

.rock::after {
  content: "rock";
  position: absolute;
  bottom: -18px;
  right: 1px;
  font-size: 1.5rem;
  font-weight: initial;
}

.scissors {
  position: relative;
}

.scissors::after {
  content: "scissors";
  position: absolute;
  bottom: -18px;
  right: 2px;
  font-size: 1.5rem;
  font-weight: initial;
}

.paper {
  position: relative;
}

.paper::after {
  content: "paper";
  position: absolute;
  bottom: -18px;
  right: 3px;
  font-size: 1.5rem;
  font-weight: initial;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}

.sub_heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.choice {
  margin-top: 40px;
}

#scissors_btn {
  margin: 0 32px;
}

.choice > button {
  width: 100px;
  height: 100px;
  background-color: #a459d1;
  font-size: 1.3rem;
  font-weight: 600;
}

.result {
  margin-top: 8px;
  display: flex;
  width: 650px;
  justify-content: space-between;
  align-items: center;
}

.result p {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Chivo Mono", monospace;
}

.names {
  margin-top: 32px;
  width: 650px;
  display: flex;
  justify-content: space-around;
}

h4 {
  margin-bottom: 8px;
  font-size: 1.5rem;
}

.score_wrapper {
  text-align: center;
}

#score_user,
#score_computer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #2cd3e1;
  font-size: 3rem;
  font-weight: 700;
}

#score_user {
  border-radius: 100% 0 0 100%;
}

#score_computer {
  background-color: #f266ab;
  border-radius: 0 100% 100% 0;
}

#summary {
  margin-top: 64px;
  font-size: 1.6rem;
  width: 600px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.rules h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 32px;
}

.rules ul {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 8px;
}

.rules li {
  padding-top: 5px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  transform: scale(1.05);
}

#rock_btn {
  width: 200px;
  height: 200px;
  background: #f0f0f0 url("images/rock.png");
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  transition: transform 0.2s; /* Animation */
  border-radius: 100%;
}

#scissors_btn {
  width: 200px;
  height: 200px;
  background: #f0f0f0 url("images/scissors.png");
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out; /* Animation */
  border-radius: 100%;
}

#paper_btn {
  width: 200px;
  height: 200px;
  background: #f0f0f0 url("images/paper.png");
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out; /* Animation */
  border-radius: 100%;
}

footer {
  display: flex;
  justify-content: center;
  margin: 48px 0;
}

footer a {
  text-decoration: none;
  display: inline-block;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  margin-right: 16px;
  font-size: 2rem;
}

footer p {
  font-size: 1.2rem;
}
